<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Line from "./_design_1_line.svelte";

  // Size and margins
  const width = 600;
  const height = 270;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let data = null;
  let filteredData = null;
  let buildingTypes = null;
  let locations = ['Baltimore', 'Chicago', 'Los Angeles']
  let selected_location = locations[0];
  let accross_all_building = 'false';
  let buildingTypeData = [];

  onMount(async () => {
    let json_data = await json("/data/hourly_heating_december.json");
    data = json_data.sort((a, b) => {a.day < b.day && a.hour < b.hour})
    buildingTypes = [...new Set(data.map(d => d.buildingtype))]
    filterData()
  });

  function filterData(_) {
    if(!data)
      return;
    filteredData = data.filter(d => d.city == selected_location)
  }

  function buildBuildingTypeData(_) {
    if(!data)
      return;
    buildingTypeData = buildingTypes.map(type => {
      return filteredData.filter(d => d.buildingtype == type)
    })
  }

  $: filterData(selected_location);
  $: buildBuildingTypeData(accross_all_building);
  $: buildBuildingTypeData(filteredData)
</script>

<div>
  {#if !data}
  <p>Loading the data, please wait...</p>
  {:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#if accross_all_building == 'false'}
        {#each buildingTypeData as data, i}
          <Line data={data} index={i}></Line>
        {/each}
      {:else}
        <Line data={filteredData} accross_all=true ></Line>
      {/if}
      <text x={innerWidth/3 - 20} y={innerHeight}>Energy use over multiple days</text>
    </g>
  </svg>

  <div class="row">
    <div class="col-6">
      <select id="continent-select" class="form-select" bind:value={accross_all_building}>
        <option value=true>Across Building Types</option>
        <option value=false>Within Building Types</option>
      </select>
    </div>
    <div class="col-6">
      <select id="continent-select" class="form-select" bind:value={selected_location}>
        {#each locations as c}
          <option value={c}>{c}</option>
        {/each}
      </select>
    </div>
  </div>
  {/if}
</div>
<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
