<p>I <span style='color: red'>really</span> like data visualisation!</p>
<style>
    p {
        color: steelblue;
        font-size: larger;
        font-family:'Courier New', Courier, monospace;
    }
</style>