<script>
    const basicInfo = {name: 'Tingting Ma', hobbies: ['Dawn', 'Dusk','Hamlet','Life']};
</script>

<p>My name is {basicInfo.name} and these are some of my favourite things: {basicInfo.hobbies.join(", ")}.</p>

