<script>
    function circumference(radius) {
        return (2 * Math.PI * radius).toFixed(2);
    }
    const radius = 1
</script>
<p>The circumference of a circle with radius {radius}m is {circumference(radius)}m .</p>
