<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { brush, brushSelection } from "d3-brush";
  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";
  export let selectedCars = null;
  export let commonSelected = null;

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  // Circle properties
  const selectedColor = 'steelblue';
  const selectedFillOpacity = '0.5';
  const selectedStrokeOpacity = 1;
  const unSelectedColor = 'darkgray';
  const unSelectedFillOpacity = '0.3';
  const unSelectedStrokeOpacity = '0.5';

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;
  let coords = data.map(d => {
    return {
      x: xScale(x(d)),
      y: yScale(y(d)),
      color: selectedColor,
      fillOpacity: selectedFillOpacity,
      strokeOpacity: selectedStrokeOpacity
    }
  })

  function unshowAllCars() {
    for (let i = 0; i < coords.length; i++) {
      coords[i].color = unSelectedColor;
      coords[i].fillOpacity = unSelectedFillOpacity;
      coords[i].strokeOpacity = unSelectedStrokeOpacity;
    }
  }

  function showAllCars() {
    for (let i = 0; i < coords.length; i++) {
      coords[i].color = selectedColor;
      coords[i].fillOpacity = selectedFillOpacity;
      coords[i].strokeOpacity = selectedStrokeOpacity;
    }
  }

  function showCommonCars() {
    console.log('showCommonCars')
    unshowAllCars()
    for (let i = 0; i < coords.length; i++) {
      if(commonSelected.includes(i)) {
        coords[i].color = selectedColor;
        coords[i].fillOpacity = selectedFillOpacity;
        coords[i].strokeOpacity = selectedStrokeOpacity;
      }
    }
  }

  function activeCars(_) {
    if(commonSelected && !selectedCars){
      showCommonCars();
      return;
    }

    if(!coords || !selectedCars || !commonSelected)
      return;

    unshowAllCars()
    for (let i = 0; i < coords.length; i++) {
      if(selectedCars.includes(i) && commonSelected.includes(i)) {
        coords[i].color = selectedColor;
        coords[i].fillOpacity = selectedFillOpacity;
        coords[i].strokeOpacity = selectedStrokeOpacity;
      }
    }
  }

  function checkBrushedCars() {
    selectedCars = []
    coords.forEach((coord, i) => {
      let inTheScope = coord.x >= range[0][0] && coord.x <= range[1][0] &&
          coord.y >= range[0][1] && coord.y <= range[1][1];

      if(inTheScope)
        selectedCars.push(i)
    })
  }

  function isCurrentBrushed() {
    return JSON.stringify(commonSelected)==JSON.stringify(selectedCars);
  }

  let isMoved = false;
  function doMove() {
    console.log("do Move")
    range = brushSelection(this);
    isMoved = true
    if(isMoved)
    checkBrushedCars()
  }

  function doStart() {
    console.log("do Start")
    isMoved = false
    unshowAllCars()
  }

  function doEnd() {
    console.log("do End", isCurrentBrushed())
    if(!isMoved){
      if(commonSelected && !isCurrentBrushed()) {
        showCommonCars();
      } else {
        showAllCars();
      }
      if(isCurrentBrushed())
        commonSelected = null;  
      else
        commonSelected = data.map((_, i) => i)
      selectedCars = null;
    }
  }

  const brushFunc = (node) => brush().on('brush', doMove)
                                     .on('start', doStart)
                                     .on('end', doEnd)
                                     .extent( [ [0,0], [width, height] ])(select(node));

  $: activeCars(selectedCars);
  $: activeCars(commonSelected);
</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})" >
    <g use:brushFunc>
      {#each coords as cood}
        <circle
          cx={cood.x}
          cy={cood.y}
          r={3}
          fill={cood.color}
          fill-opacity={cood.fillOpacity}
          stroke={cood.color}
          stroke-width="1.5"
          stroke-opacity={cood.strokeOpacity}
        />
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>
