<script>
    let time = 0;
    function handleClick() {
        time += 1;
    }

    function handleReset() {
        time = 0;
    }
</script>

<button class="btn btn-primary" on:click={handleClick}>Clicked {time} times </button>
<button class="btn btn-danger" on:click={handleReset}>Reset</button>
