<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";
  
  // Circle array
  let circles = [];
  points.forEach((width) => {
    let circle = {}
    circle.width = width;
    circle.capacity = 0.3;
    circle.color = color;
    circles.push(circle);
  })

  const resetColor = (_) => {
    if (index >= 0 && index <= 4)
      circles[index].capacity = 1
    if (index < 0) {
      for(let i = 0; i < circles.length; i++){
        circles[i].color = 'darkgreen'
      }
    }
  }

  $: resetColor(index);

  let interval = setInterval(() => {
    index -= 1

    if(index < 0) {
      clearInterval(interval)
    }
  }, 1000)
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each circles as c}
      <circle cx={c.width} cy={innerHeight / 2} r="10" fill={c.color} opacity={c.capacity}></circle>
    {/each}
  </g>
</svg>
