<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  let leftSelectedCars = null;
  let rightSelectedCars = null;
  let commonSelected = null;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  function checkCommonSelected (_) {
    console.log("commonSelected", commonSelected)
    console.log("leftSelectedCars", leftSelectedCars)
    console.log("rightSelectedCars", rightSelectedCars)
    if(!rightSelectedCars && leftSelectedCars) {
      commonSelected = leftSelectedCars
      return;
    }

    if(!leftSelectedCars && rightSelectedCars) {
      commonSelected = rightSelectedCars
      return;
    }
    if(!leftSelectedCars && !rightSelectedCars) {
      commonSelected = null;
      return;
    }

    commonSelected = leftSelectedCars.filter(function(v){
      return rightSelectedCars.indexOf(v) > -1
    })
  }

  $: checkCommonSelected(leftSelectedCars)
  $: checkCommonSelected(rightSelectedCars)
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} bind:selectedCars={leftSelectedCars} bind:commonSelected={commonSelected}/>
  <Scatter {data} {...s2} bind:selectedCars={rightSelectedCars} bind:commonSelected={commonSelected}/>
{/if}
