<script>
  import { select } from 'd3-selection';
  import { scaleOrdinal, scaleLinear, scaleLog } from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { schemeTableau10 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  export let data;

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let filtered_data = data.filter(d => d.income != null && d.life_exp != null);
  console.log(filtered_data)
  const x = scaleLog().domain([300, 150000]).range([0, innerWidth]);
  const y = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
  const color = scaleOrdinal(schemeTableau10);
  const radius = scaleLog().domain(extent(filtered_data.map(d => d.population))).range([3, 9])

  const render = (node) => {
    const g = select(node)
    g.append("g")
      .attr("transform", "translate(0, " + innerHeight + ")")
      .call(axisBottom(x).tickFormat(d => '$' + d).tickValues([400, 4000, 40000]));

    g.append("g")
      .call(axisLeft(y));

    g.append("text")
      .attr("y", 0)
      .attr("x", innerWidth / 2)
      .style("text-anchor", "middle")
      .style("font-size", "2.24em")
      .text("Gapminder Scatterplot");

    g.append("text")
      .attr("y", 0 - (margin.left / 2) - margin.right)
      .attr("x", 0 - (innerHeight / 2))
      .style("text-anchor", "middle")
      .style("transform", "rotate(-90deg)")
      .style("fill", "currentcolor")
      .text("Life Expectancy");

    g.append("text")
      .attr("y", '83%')
      .attr("x", innerWidth / 2)
      .style("text-anchor", "middle")
      .text("GDP per Capita");

    g.append("text")
      .attr("y", innerHeight - 10)
      .attr("x", innerWidth - 40)
      .style("text-anchor", "middle")
      .style("opacity", ".4")
      .style("font-size", "2.25em")
      .text("1800");
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})" use:render>
    {#each filtered_data as v}
      <circle cx={x(v.income)} cy={y(v.life_exp)} r={radius(v.population)} fill={color(v.continent)} style="opacity: .7"></circle>
    {/each}
  </g>
</svg>

