<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rect_width = 40;
  const rect_x = (width - rect_width) / 2 - margin.left;
  const circle_r = 20;
  const cx = rect_width + rect_x;
</script>

<svg {width} {height}>
  {innerWidth} {innerHeight}
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={rect_x} y={rect_x} width={rect_width} height={rect_width} fill="yellow"></rect>
    <circle cx={cx} cy={cx} r={circle_r} fill="skyblue"></circle>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
