<script>
  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const scale = scaleLog();
  scale.domain([1, 10]).range([0, innerWidth])
  // Array
  const values = [2, 4, 6, 7, 9];
  // Axis
  const renderAxis = () => {
    const svg = select('#circles');
    svg.append("g")
      .attr("transform", "translate(0, " + innerHeight + ")")
      .call(axisBottom(scale).tickValues([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]));
    svg.append("text")
      .attr("transform",
            "translate(" + innerWidth / 2 + "," + (innerHeight + margin.bottom) +")")
      .style("font-size", "10px")
      .text("x label");
  }
</script>

<svg viewBox="0 0 {width} {height}" use:renderAxis>
  <g transform="translate({margin.left}, {margin.top})" id="circles">
    {#each values as value}
      <circle cx={scale(value)} cy={innerHeight / 2} r="10" fill="steelblue"></circle>
    {/each}
  </g>
</svg>
