<script>
  import { select } from 'd3-selection';
  import { scaleOrdinal, scaleLinear } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scale_o = scaleOrdinal(schemeDark2)
  const scale_x = scaleLinear().domain([0, 10]).range([margin.left, innerWidth]);
  const scale_y = scaleLinear().domain([0, 3]).range([0, innerHeight]);

  const render = (node) => {
    const g = select(node);
    g.append('line')
       .attr("stroke", "black")
       .attr("x1", 0)
       .attr("x2", innerWidth)
       .attr("y1", innerHeight)
       .attr("y2", innerHeight); 
    
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})"  use:render>
    {#each values as v}
      <line x1={scale_x(v.x)} x2={scale_x(v.x)} y1={scale_y(3 - v.y)} y2={innerHeight} stroke="black"></line>
      <circle cx={scale_x(v.x)} cy={scale_y(3 - v.y)} r="5" fill={scale_o(v.category)}></circle>
      <text x={scale_x(v.x)} y={scale_y(3 - v.y) - 10}>{v.y}</text>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
